.listItem {
	width: 350px;
	height: 407px;
	border-radius: 30px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.itemImg {
	width: 219px;
	height: 240px;
	object-fit: contain;
	margin-bottom: 40px;
}

.itemBtnWrap {
	position: absolute;
	top: 20px;
	left: 65px;
	width: 219px;
	height: 240px;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 100ms;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #1c1c27;
}

.itemBtnWrap:hover {
	opacity: 1;
	backdrop-filter: blur(5px);
}

.itemBtnModal {
	border: none;
	background-color: #1c1c27;
	color: white;
	border-radius: 20px;
	padding: 5px 10px;
	cursor: pointer;
	transition: 150ms ease;
}

.itemBtnModal:hover {
	background-color: #1c1c27;
	color: #838383;
}

.itemWrapper {
	width: 310px;
	height: 74px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 25px;
}

.itemTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #1c1c27;
}

.itemPrice {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: #ffa542;
	font-weight: 600;
}

.itemRate {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #838383;
}

.itemBtn {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000;
	background-color: white;
	border: none;
	cursor: pointer;
}

.upperWrap {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.underWrap {
	display: flex;
	justify-content: space-between;
}

.rateWrap {
	width: 60.33px;
	height: 21.97px;
	display: flex;
	justify-content: space-between;
}

.priceWrap {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.itemSale {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #ffa542;
}

.itemPriceOriginal {
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #ffa542;
}
