.modalOverlay {
	background-color: white;
	position: relative;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.modalContent {
	background: white;
	padding: 20px;
	border-radius: 30px;
	max-width: 800px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.closeButton {
	width: 348.98px;
	height: 65px;
	border: none;
	border-radius: 20px;
	background-color: #101010;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	transition: 100ms ease;
}

.closeButton:hover {
	color: #aaaaaa;
}
